.explore {
    height: 500px;
    background: url('../../img/background__4.jpg') center no-repeat;
    &__banner {
        font-size: 30px;
        padding-top: 140px;
        text-align: center;
        color: #ffffff;
    }
    img {
        transform: translateX(650%);
        margin-top: 35px;
    }
    &__title {
        font-size: 15px;
        margin-top: 37px;
        text-align: center;
        color: #ffffff;
    }
}