@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

@import 'libs/bootstrap-reboot';

.container {
    width: 1140px;
    margin: 0 auto;
}

* {
    font-family: 'Poppins', sans-serif;
} 

body {
    min-width: 1200px;
    background-color: #000;
}

ul, li {
    padding: 0;
    margin: 0;
}

@import 'blocks/header';
@import 'blocks/advantage';
@import 'blocks/buttons';
@import 'blocks/aboutus';
@import 'blocks/focus';
@import 'blocks/explore';
@import 'blocks/portfolio';
@import 'blocks/team';
@import 'blocks/pros';
@import 'blocks/steps';
@import 'blocks/price';
@import 'blocks/testim';
@import 'blocks/select';
@import 'blocks/blog';
@import 'blocks/subscribe';
@import 'blocks/touch';
@import 'blocks/media';